{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "globals": {
    },
    "rules": {
        "arrow-body-style": 0,
        "no-case-declarations": 0,
        "indent": ["error", 4]
    }
}