
.screenshot-list .thumbnail {
    height: 345px;
    text-align: center;
}

.screenshot-list .thumbnail img{
    max-height: 200px;
}

.screenshots-add {
    text-align: center;
}

.screenshots-add .upload-preview {
    margin: 0 auto;
    margin-bottom: 8px;
    max-height: 500px;
}